*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}
body{
    font-family: 'PT Sans Caption', sans-serif;
}





section.box{
    height: 100vh;
    position: relative;
}

section.box.red{
    background-color: red;
}

section.box.green{
    background-color: green;
}

section.box.yellow{
    background-color: yellow;
}

section>div.container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
div.container>img{
    width: 90%;
}

div.container>h3{
    font-size: 2.5rem;
    width: 90%;
    text-align: center;  
    padding-right: 2rem;  
    color:yellow;
    
}

section:last-of-type h3{
    color:green;
}